asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
cloudpickle==0.8.1
conda==4.6.14
cryptography==2.6.1
cycler==0.10.0
decorator==4.4.0
future==0.17.1
grpcio==1.11.1
gym==0.13.1
idna==2.8
importlib-metadata==0.18
ipython==7.6.1
ipython-genutils==0.2.0
jedi==0.14.1
kiwisolver==1.1.0
matplotlib==3.1.1
more-itertools==7.1.0
numpy==1.16.4
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.1.1
pluggy==0.12.0
prompt-toolkit==2.0.9
protobuf==3.6.1
ptyprocess==0.6.0
py==1.8.0
pycosat==0.6.3
pycparser==2.19
pyglet==1.3.2
Pygments==2.4.2
pyOpenSSL==19.0.0
pyparsing==2.4.0
PySocks==1.6.8
pytest==3.10.1
python-dateutil==2.8.0
requests==2.21.0
ruamel-yaml==0.15.46
scipy==1.3.0
six==1.12.0
torch==1.1.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
zipp==0.5.2
